구분자 separator

In [ ]:
print(3+4)

In [ ]:
for y in range(1, 10):
    for x in range(y):
        print('*',end ='')
    print()

In [ ]:
s='서울'
d='대전'
g='대구'
b='부산'
print(s,d,g,b,sep=',')

In [ ]:
age=input("당신의 나이는")
print("5년 뒤에는 :" ,int(age)+5 ,"살입니다")  #casting 이라고 한다. 형 변환

In [ ]:
print("안녕","세요")

In [ ]:
print("구구단을 출력한다.")
for x in range(2,10):
    print("1단")
    for y in range(1,10):
        print(x,'X',y,'=',x*y)
    print("--------------------------------")

In [ ]:
a="first\nsecond"  #\n은 줄바꿈이다. 
print(a)

In [ ]:
tuple(range(1,10))

In [ ]:
print(int('10'))
print(hex(26))
print(oct(26))
print(bin(13))

In [ ]:
s="안녕하세요,파이썬 첫시간입니당~우하하하 \n문자열과 숫자열에 대해서 \n공부합니다."
print(s)

d="안녕하세요 \              #입력할 때만 \ 이렇게 표기 출력은 한 줄로 출력한다. 
파이썬 첫시간이네요\
모두 파이팅 해봐요~"
print(d)

In [ ]:
d = 365 * 24 * \ 
            60 * 60 
print(totalsec)

In [ ]:
 s= """안녕하세요 파이썬 첫시간입니다. 문자열과 숫자열 빡꽁.!"""
print(s)

In [ ]:
s=("korea"   #훨씬 보기 깔끔하다. 이렇게 코딩하자 
   "japan"
   "2002")
print(s)

s="korea" "japan" "2002"
print(s)

In [ ]:
print('a')
print(ord('a')) #아스키 코드로 바꾸어주는 함수 
print(chr(97))
# A~Z 까지 ASCII 값 출력

In [ ]:
print(ord('b'))
print(ord('c'))
print(ord('d'))

In [ ]:
for num in range(ord('A'),ord('Z')+1):   #아하!.   range(1,~)  ord('A')이렇게 주면 되는구나   #한줄로 출력 
    print(chr(num),"=",num,end='')      #end=''  한줄로 쓰기 
    print()

In [ ]:
for a in str(range(2,15)):
    print(a)

### len()    type()      float()     str()

In [87]:
len("안녕하세요")

5