### . Pandas 학습

> 데이터 분석을 위한 모듈 
> 주요 Library 
> DataFrame 
    -Series 구성 

> Serires 
    - column 구조의 데이터 구조

In [3]:
# pandas- 사용 위한 필수 설정 

import pandas as pd
import numpy as np

### 기초 익히기

In [4]:
# 시리즈 생성해서 DataFrame 만들기 연습 
# 결측치 적용 
s = pd.Series([1,2,3,])

In [5]:
s

0    1
1    2
2    3
dtype: int64

In [6]:
#np.nan으로 데이터 셋에 결측치 반영 가능, 단  
# 이 시리즈의 데이터들은 float 값으로 간주 
s = pd.Series([1,2,3,np.nan,4])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [ ]:
#DataFrame 이 없어서 info() 사용 안된다. 
#s.info()

In [7]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
#특정 일자를 기준으로 자동으로 날짜 증가 
dates = pd.date_range('20180812',periods=6)

In [9]:
dates

DatetimeIndex(['2018-08-12', '2018-08-13', '2018-08-14', '2018-08-15',
               '2018-08-16', '2018-08-17'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4),
                  index=dates,
                  columns=['A','B','C','D'])

In [11]:
df

                   A         B         C         D
2018-08-12  0.266205 -0.137265 -1.531417 -0.309110
2018-08-13  1.148619  1.567388  1.037397 -0.335607
2018-08-14 -0.406667  0.422507  1.185946  0.732000
2018-08-15  2.229930 -0.119276 -1.178426 -0.220651
2018-08-16 -1.066663  0.336374  0.304974  0.091319
2018-08-17  0.353565 -1.090432 -1.819470 -1.312454

In [ ]:
df.values

In [ ]:
# DataFrame 구조 파악하는 중요한 함수 
df.info()

In [ ]:
df.describe()   #wow 수학 + 통계 통계 수치가 한번에 보이네?

In [ ]:
 # oracle db 시에 정렬 옵션 -desc[내림차순], asc[오름차순]
    
    
  # B컬럼을 기준으로 
df.sort_values(by='B',ascending=True)

In [ ]:
# 'A' 컬럼을 기준으로 내림차순 정렬 
df.sort_values(by='A',ascending=False)

In [ ]:
#컬럼명으로 해당 컬럼값들만 도출, 모든 row 다 검색 
df['A']

In [ ]:
#모든 컬럼의 0행~(3-1)행까지 데이터가 도출 

df[0:3]  #해당하는 컬럼 값만.

In [ ]:
df['2018-08-13':'2018-08-15'] #특정 인덱스 값 찾아서 실행

In [ ]:
## loc() : iloc ()
df.loc [:,['A','B']]

In [ ]:
#오류 컬럼명 처럼 index는 list 처리 불가 
#df.loc[['20180814','20180815'],['A','B']]

#index 는 : 을 기준으로 작성(범위)
df.loc['20180815':'20180817',['A','B']]

In [ ]:
### loc 
    >-는 데이터를 슬라이싱 하는 문법으로 처리 
     -loc[index,columns] <br> 
        : index는 : 즉 범위 설정 문법 <br> 
        : columns는 list 형태로 처리 가능 <br>

### iloc 
> loc 함수와 달리 행과 열의 번호를 이용해서 데이터 활용 <br>

In [ ]:
df.iloc[2] #3번쨰 열 a,b,c,d

In [ ]:
df

In [ ]:
#? iloc[3] 과 동일한 결과를 loc로 처리 하기

In [ ]:
df.loc['20180815',['A','B','C','D']]
#df.loc['20180815',:]

In [ ]:
#Art  요렇게 해도 된다. 
df.loc['20180815',]

In [ ]:
df.iloc[[1,2,4],[0,2]]  #1행,2행,4행 컬럼0,2

In [ ]:
df

In [ ]:
#조건식을 반영해서 유효한 데이터 도출 
df[df.A>0]

In [ ]:
# 존재하는 DataFrame의 구조 및 모든 데이터 복사 붙여넣기
#혹여 sql문장에서도 이미 존재하는 table의 복제본 table 생성 가능 
#dept table의 복제본인 dept2 table 
#create table dept2 as select * from dept; 
df2=df.copy() 
df2

In [ ]:
# df2의 구조에 새로운 컬럼 추가해 보기 
# numpy의 nan 속성으로 결측치 반영 
df2['E']=[1,2,3,4,np.nan,6] #np.nan 결측치 
df2

In [ ]:
type(df2)

In [ ]:
# 해당 열에 E열에 속한 데이터 존재 여부 확인 함수  
# 함수-isin()
df2['E'].isin([1,3,5,6])

In [ ]:
# lambda - 람다 함수, 익명 함수, 수식으로 만 구성된 함수 
# 로직 - 모든 컬럼값의 최대, 최소값 빼기한 결과치 
# x에는 몇건의 데이터값 ? 
df.apply(lambda x : x.max() - x.min())

#lambda 함수가 몇번 호출되는지 단순 확인 
df.apply(lambda x : print(x)) # 파고들어서 확인 

# 혜영 질문에 따른 고민 - Series 객체 타입 개수 확인 로직 
# -함축된 표현만의 언어 - 스칼라 
df.apply(lambda x : print(type(x)))

In [ ]:
df

In [ ]:
df['A'].max()

### 이미 존재하는 파일의 내용으로 DataFrame 생성하기

In [ ]:
# friends.csv 파일로 DataFrame 객체 생성 
df = pd.read_csv('dataSet/friends.csv')
df

In [ ]:
# 이름만 출력 
df.

In [ ]:
df['이름']   #df.이름   된다. 
df['hobby']

In [ ]:
df.loc[0:4]

In [ ]:
# friendsTab.txt 파일로 DataFrame 객체 생성하기 
# read_csv(), 구분자는 tab(\t)

In [ ]:
df = pd.read_csv('dataSet/friendsTab.txt',delimiter='\t')
#df['이름'] 에러 
df

In [ ]:
#컬럼명 추가 

#컬럼의 속성명 없이 데이터로만 구성된 file은 고려사항이 있음 

#1라인 데이터가 heade 정보처럼 사용됨 
df=pd.read_csv('dataSet/friendsNoHead.csv')
df

In [ ]:
df=pd.read_csv('dataSet/friendsNoHead.csv',header=None)
df

In [ ]:
#컬럼명 추가 및 편집 
df.columns=['name','age','job','hobby']
df

In [ ]:
df=pd.read_csv('dataSet/friendsNoHead.csv',header=None,
              names=['name','age','job','hobby'])
df   #d=컬럼명 반영과 동시에 DataFrame 객체 생성하기

In [ ]:
# 딕셔너리로 DataFrame 생성 
# 기본적으론 선언된 컬럼 순서 보장을 안 함 
# 가공 또는 OrderedDice 모듈 사용 
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'}]

df = pd.DataFrame(friend_dict_list)
df

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
# 컬럼 순서 설정하기 //지정하기
df = df[['name','age','job']]
df

In [ ]:
# 리스트로 데이터 프레임 생성하기  리스트 형태!

friends = [['신동엽',20,'연예인','music'], 
           ['유재석',41,'교수','art'], 
           ['김새롬',18,'학생','study'], 
           ['이영자',45,'상담사','talk'], 
           ['강호동',38,'연예인','talk']]

df = pd.DataFrame.from_records(friends) 
df

In [ ]:
df.columns=['name','age','job','hobby']
df

In [ ]:
df.job=='강호동'

In [ ]:
# 가공된 DataFrame을 csv로 생성하기   아하!~!
# csv or txt 등의 확장자 자유롭게 생성, 자동으로 index가 int로 반영
# index 속성은 기본이 True

df.to_csv('dataSet/f1_out.csv',index=False)
df

In [ ]:
#drop(삭제)
# DB table- drop table table명 , drop sequence sequence명, ...
# pandas의 drop은 특정 컬럼 또는 행 삭제가 가능. 
# drop() - axis가 생략된 경우 axis=0 즉 row 축 의미 

df.drop(4) 
df.drop(2,axis=1)

In [ ]:
df.drop(3,axis=0)

In [ ]:
df

In [ ]:
#sql 문장의 like 연산자 
#S로 시작, 단 두 음절로 되어 있는 데이터만 검색 
#select * from tab명 where like ename like 'S_'
#S로 시작, 단 두 음절 개수와 무관 
    # # select * from tab명 where ename like 'S%'
    
#컬럼명에 a가 포함된 컬럼만 검색 
df.filter(like='a',axis=1)

In [ ]:
df

In [ ]:
#? n으로 시작하는 컬럼의 데이터 검색 
# filter 의 axis default 는 1 (컬럼)
df.filter(regex='^n', axis=1)

In [ ]:
#b로 끝나는 job의 컬럼 데이터 검색 
#$ 을 쓰면 
df.filter(regex='b$', axis=1)

In [ ]:
df

In [ ]:
#? 0, 3번쨰 row 데이터 삭제 
df.drop(['job','name'] , axis=1)
#[] 쓰고 삭제하면 된다.

In [ ]:
df3 =df.drop(df.index[[0,3]])
df

In [ ]:
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'}]

df = pd.DataFrame(friend_dict_list)
df.columns['name','age','job','hobby']

In [ ]:
#? salary 컬럼 추가, 단 모든 데이터 값은 0 
df['salary']=[0,0,0,0,0] #내가 한 방법  
#만약에 행이 100개라면? 
df['salary']=0 #쌤 답 .

In [ ]:
df

In [ ]:
# numpy를 이용해서 학생일 경우엔 no, 학생이 아닐 경우엔 yes 
# 전통 3항 연산자 - 조건식? 조건식이 true: 조건식이 false
df['salary']= np.where(df['job'] != '학생','yes','no')
df

### 중복 데이터 처리 학습

In [ ]:

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df = df[['name', 'age', 'job', 'hobby']]

df

In [ ]:
df.duplicated() #어떤 게 중복인지를 알려줌.

In [ ]:
df=df.drop_duplicates()
df

In [ ]:
# 컬럼명으로 중복 데이터 삭제 하기 
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df = df[['name', 'age', 'job', 'hobby']]

df

In [ ]:
df.drop_duplicates(['name'], keep='first') # keep 숫자는 안되고 first last

### 결측치 처리 하기

In [ ]:
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df=df[['name', 'age', 'job', 'hobby']]

df

In [ ]:
df.isna()

In [ ]:
df.isnull()

In [ ]:
#null 또는 Nan 값을 변경하기 
#fillna() : na값을 찾아서 0으로 채우자 

tmp = df 
tmp['age'] = tmp['age'].fillna(0)
tmp

In [ ]:
df

In [ ]:
# 결측치를 가설 검증 처럼 동일한 직업을 갖은 사람들의 평균값으로 대체 
'''
고려사항 - job을 직업군 별로 그룹화 - group
- 평균 구하기 - median
- 이미 존재하는 DataFrame의 결측치값 변경하기 - transform  


'''

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df=df[['name', 'age', 'job', 'hobby']]

In [ ]:
df

In [ ]:
df['age'].fillna(df.groupby('job')['age'].transform('median'),
                 inplace=True)

In [ ]:
df

# 중복 데이터 관련된 unique 처리 기술 학습 
> 컬럼에 여러값들이 있을 때 중복 없이 어떤 데이터들이 있는지 
확인하기

In [ ]:

'''
고려사항 - job을 직업군 별로 그룹화 - group
- 평균 구하기 - median
- 이미 존재하는 DataFrame의 결측치값 변경하기 - transform  


'''

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df=df[['name', 'age', 'job', 'hobby']]
df

In [ ]:
# oracle DB의 emp table의 job 검색, 중복불허 
# select distinct job from emp; 


print(df.job.unique)

In [ ]:
type(df.job)

In [ ]:
df.job.value_counts()

### 두 개의 row 기준으로 DataFrame 병합하기

In [ ]:

l1 = [{'name': '이효리', 'job': "교수"},
      {'name': '이상순', 'job': "학생"},
      {'name': '박보검', 'job': "개발자"}]

l2 = [{'name': '신동엽', 'job': "치과의사"},
      {'name': '이영자', 'job': "농부"},
      {'name': '정찬우', 'job': "연예인"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
#df1하위로 df2가 병함, 단 , 개별 index가 유지 및 컬럼명 유지로 인한 
#불안정한 결과 
df3=[df1,df2]
df4=pd.concat(df3,ignore_index=True)

In [ ]:
df4

### 두개의 DataFrame

In [ ]:

l1 = [{'name': '이효리', 'job': "교수"},
      {'name': '이상순', 'job': "학생"},
      {'name': '박보검', 'job': "개발자"}]

l2 = [{'name': '신동엽', 'job': "치과의사"},
      {'name': '이영자', 'job': "농부"},
      {'name': '정찬우', 'job': "연예인"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
# concat 함수로 병합해 보기

In [ ]:
df3=[df1,df2]
df4=pd.concat(df3, axis=1, ignore_index=True)
df4

In [ ]:
#header 부분 즉 컬럼명 추가하기
df4.columns=['name','job','name','job']
df4

In [ ]:
###