### [1] 함수 문법 연습  

함수 직접 만들어보기 
로직을 제시해서 함수를 만들어 보기

In [1]:
def myfun1(): 
    print('인생','희망')   #'', ""이나 상관이 없다.

In [2]:
myfun1()

인생 희망

In [16]:
# 반환값도 없고 , d도 없는 단순 함수 
def myfun1(): 
    print("반장" , "안경")

In [17]:
myfun1()

반장 안경

In [3]:
# 반환값 X , parameter 0
def myFun2(v1):
    print(2+v1)

In [19]:
myFun2(10)

12

In [20]:
# ? 반환없음, 두 개의 parameter 값 받아 더하기 연산 후 결과 출력

In [1]:
def myFun3(v1,v2):
    print(v1+v2)
    
myFun3(2,5)

7

In [3]:
def myFun5(): 
    return 'Google0'

name=myFun5() 
print(name)

Google0

In [45]:
# 반환 있음, parameter 있음 
def myFun4():
    return "한상우"

name=myFun4() 
print(name)

한상우

In [4]:
# for 반복문 
for i in range(7):
        print(i)

0
1
2
3
4
5
6

In [10]:
#for 반복문 
for i in range(15):   #range는 0부터 세는 듯 하다. 
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

# for 반복문 
for i in range(5):
        print(i, end="\t")

In [35]:
# 더하는 함수 
def getSum(start, end) :
	sum=0
	for i in range(start, end+1) :
		sum += i
	return sum

getSum(1,10)

55

In [15]:
def sum1(start,end): 
    sum=0
    for i in range(start, end+1):
        sum+=i          #sum1을 하나 getsum을 같다는 것을 확인할 수 있다. 
    return sum 

sum1(1,10)

55

In [39]:
#range 함수 이해하기 
for i in range(1,10): 
    print(i,end="")

123456789

In [17]:
for i in range(10):
        print(i,end="")

0123456789

In [16]:
for i in range(1,10): 
    print(i,end="")

123456789

In [42]:
# ? 각 자료구조 데이터 타입에 데이터들 저장 및 출력해 보기

In [2]:
#리스트 학습 url 
https://docs.python.org/3.6/tutorial/index.html

SyntaxError: invalid syntax (<ipython-input-2-741473d4f39e>, line 2)

### .리스트 학습 문제

In [ ]:
user_list={'한상우':12,'홍길동':34,'신동엽':53}

name=input('아이디 입력해주세요:')

if name in user_list:
     #print(name) key값 출력 
    
     #input()의 반환값 : 문자열 
        
        password=input('패스워드 입력하세요:')
        if int(password)==user_list[name]:
        #int(): 문자열을 정수로 변환 
            print('환영합니다')
        
        else:
            print('잘못된 패스워드입니다.')
    
else: 
        print('알 수 없는 사용자입니다')

In [11]:
print(1+2)

3

In [12]:
print('1'+'2')

12

In [13]:
print('1','2')

1 2

In [20]:
print('1'+str(2))

12

In [21]:
print(int('1')+2)

3

In [ ]:
#함수 - * : 표기로 가변인자를 적용한 함수의 parameter 
#튜플 데이터 타입으로 자동 변환 
def myFun11(*v): #튜플로 인지
    print(v)
    
    myFun11(1)

In [ ]:
myFun11(1)   #토플로 변환됨

In [ ]:
myFun11(7,8)